#experimentDiv{
    margin: 10%;
    text-align: center;
}
.resource{
    margin: 10px;
    display: inline-block;
}
.response{
    margin: 50px;
    display: inline-block;
}
input{
    margin: 10px;
}
select{
    margin: 10px;
}
#container-consent{
    overflow: auto;
}
#consent{
    padding-bottom: 20px;
}
